<!DOCTYPE html>
<html>
<head>
	<title>New Posts</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
</head>
  {{style('bootstrap.min')}}
  {{style('font-awesome')}}
  {{style('style')}}
<body class="postwp">
	
	@!include('inc/navbar')

	<div class="overlay">
		<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-7 mx-auto">
			<div class="post-heading">
			<form class="addpost" action='{{route('myposts')}}' method="POST">
			{{ csrfField() }}
				<h2 style="color: white">Create Post</h2>
				<input type="text" class="inTitle" name="in_title" placeholder="the title">
				<p style=" margin:0px;margin-top:16px;">
				<textarea name="in_desc" rows="9" class="inDesc inTitle" placeholder="tell your story here..."></textarea>
				<input type="hidden" name="in_uid" value="{{uid}}">
			<br>
			<div style="width:100%; margin:0; padding:0; display:flex;">
			<div style="width:50%;">
			<button class="btn btn-success btn-xs">Submit</button>
			</div>
			<div style="width:50%;">
			<a href="{{route('/myposts')}}" class="btn float-right btn-info btn-xs">Back</a>
			<div>
			</div>
			</form>
			</div>
			</div>
		</div>
		</div></div>
	</header>
	@if(flashMessage('notification'))
	<span class="syswarn" id="w">{{flashMessage('notification')}}</span>
	@endif
</body>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script>
    $(document).ready(function() {
        $('.syswarn').click(function() {
            $('.syswarn').hide();
        });
    });
</script>
</html>