<!DOCTYPE html>
<html>
<head>
	<title>New Posts</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
</head>
  {{style('bootstrap.min')}}
  {{style('font-awesome')}}
  {{style('style')}}
  {{style('clean-blog.min')}}
<body class="postwp">
	
	@!include('inc/navbar')

	<div class="overlay">
		<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-7 mx-auto">
			<div class="post-heading">
			<form class="addpost" action="/posts/{{post.id}}/edit" method="POST">
			{{ csrfField() }}
			
				@if(uid==post.user_id)
				<h2 style="color: white">Edit Post</h2>
				@else if(uid!=post.user_id)
				<h2 style="color: white">View Post</h2>
				@endif
				<input type="hidden" name="in_id" value="{{post.id}}">
				<input type="text" class="inTitle" name="in_title" value="{{post.title}}">
				<p style="margin-top:16px;">
				<textarea name="in_desc" rows="9" class="inDesc inTitle">{{post.desc}}</textarea>
			<br>
			@if(uid==post.user_id)
			<button class="btn btn-warning btn-xs">Edit</button>
			<a href="/posts/{{post.id}}/delete" class="btn btn-danger btn-xs">Delete</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
			@endif
			
			@if(uid==post.user_id)
			<a href="/myposts" class="btn float-right btn-info btn-xs">Back</a>
			@else if(uid!=post.user_id)
			<a href="{{route('/')}}" class="btn float-right btn-info btn-xs">Back</a>
			@endif			
			</form>
			</div>
			</div>
		</div>
		</div></div>
	</header>
	@if(flashMessage('notification'))
	<span class="syswarn" id="w">{{flashMessage('notification')}}</span>
	@endif
</body>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script>
    $(document).ready(function() {
        $('.syswarn').click(function() {
            $('.syswarn').hide();
        });
    });
</script>
</html>