<p> Hi {{username}} </p>

<p>
    An email verification has been sent to this address. Make sure you want to activate your account by clicking the link below!
</p>

<p>
    <a href="http://127.0.0.1:3333/register/confirm/{{token}}">Confirm Email Address</a>
</p>